/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* .home {
  background-image: url("./images/main.jpg"), linear-gradient(#eb01a5, #d13531);
  /* background-repeat: no-repeat;
  background-size: cover; 
} */
